beautifulsoup4==4.12.3
blinker==1.8.2
chromadb==0.5.0
dash==2.18.1
filelock==3.16.1
Flask==3.0.3
Flask-Login==0.6.3
fsspec==2024.10.0
gunicorn==23.0.0
huggingface-hub==0.26.2
importlib_metadata==8.5.0
langchain-community==0.3.18
networkx==3.4.2
numpy==1.26.4
pandas==2.2.3
plotly==5.24.1
PyPDF2==3.0.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.4.5
sympy==1.13.1
tokenizers==0.20.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.0
transformers==4.46.1
